<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Portfolio</ion-title>

    <ion-buttons slot="end">
      <ion-fab-button size="small" color="success" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button routerLink="/home" color="tertiary" fill="solid">
      Home
    </ion-button>
  </ion-buttons>

  <ion-list>
    <ion-item>
      <ion-label>Balance:</ion-label>
      <ion-label>{{balance}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let coin of coins">
    <ion-card-header>
      <ion-card-title> {{coin.name}} </ion-card-title>
    </ion-card-header>

    <ion-card-content class="content">
      <ion-list>
        <ion-item>
          <ion-label>Bought at price: {{coin.price}} €</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Date of Bought: {{coin.boughtDate}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Quantity: {{coin.quantity}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="success">Balance: + {{coin.quantity*coin.price}} €</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <!--<ion-card>
    <ion-card-title style="text-align:center">Add Coins to your portfolio</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Cryptocurrency:</ion-label>
        <ion-select value="" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="{{cryptocurrency.id}}" *ngFor="let cryptocurrency of cryptos$">{{cryptocurrency.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Price (€):</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Quantity:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Date:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
      <ion-buttons class="ion-justify-content-center">
        <ion-button color="success" fill="solid">
          Add
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>-->

</ion-content>


