<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-label align="center" class="naslov">Crypto Panda</ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start" >
      <img src="https://image.freepik.com/free-vector/smiling-girl-avatar_102172-32.jpg">
    </ion-avatar>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Name: {{userName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Location: {{location}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telephone: {{'0'+telephone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Invested Money (€): {{balance| number:'1.2-2'}} €</ion-label>
    </ion-item>
    <ion-item lines="none">
      <img src="../../../assets/icon/panda2.png" alt="nesto">
    </ion-item>
  </ion-list>



</ion-content>
